<div style="padding-top: 70px"></div>
<div class="panel panel-primary">
  <div class="panel-heading">
    {{ pageTitle }}
  </div>

  <div class="panel-body">
    <div class='row'>      
      <form #form="ngForm" novalidate (submit)="onSubmit(form)">
        <div class="col-xs-4">
          <div class="form-group">
            <label>Barcode</label>
            <input type="text" class="form-control" name="barcode" [(ngModel)]="barcode">
          </div>
          <div class="form-group">
            <label>Create Date</label>
            <input type="text" class="form-control" name="createdAt" [(ngModel)]="createAt">
          </div>
          <div>
            <button class="btn btn-primary" type="submit">Add New</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>